.edit-sample {
    width: 30rem; 
    padding: .5em;
}
.event-on-table {
    padding-left: 1.5em;
}
.sub-nav {
    padding: .6em;
}
.item-table {
    padding: .5em;
}
.modal-dialog {
    min-width: 600px !important;
}
textarea {
    min-width: 453px;
    resize: none;
}
label {
    margin-right: 10px;
}
.reqFields {
    color: red;
}